# fly.toml app configuration file generated for polypongon on 2025-12-15T10:52:46Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'polypongon'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 12122
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
